
.page{
  overflow-x: hidden;
  background-color: #171e26;
}
.head-wp{
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  img{
    width: 100%;
    height: auto;
  }
  p{
    position: absolute;
    left: 50%;
    top: 50%;
    line-height: 40px;
    text-align: center;
    line-height: 45px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    font-size: 43px;
    transform: translate(-50%, -50%);
  }
}
.hello__text-list{
  padding-left: 10px;
  li{
    padding-bottom: 7px;
    color: #666;
  }
}
.hello__text-item{
  font-size: 16px;
  font-weight: 400;
  margin-top: 5px;
  list-style-type: none;
}

.hello__text-item:before {
  font-family: 'Montserrat', sans-serif;
  font-weight: 1000;
  font-size: 20px;
  line-height: 20px;
  color: #666666; /* Цвет маркера */
  content: "•"; /* Маркер */
  padding-right: 7px; /* Отступ от маркера до текста */
 }

@media(min-width:800px){
  .head-wp{
    p{
      white-space: nowrap;
      font-size: 43px;
    }
  }
}


.hello{
  background-color: #fff;
  max-width: 1240px;
  margin: -4px auto 20px;
}


.hello__h2{
  text-transform: uppercase;
  color: #fff;
  text-align: left;
  font-weight: 400;
  margin: 42px 0;
  font-size: 25px;
  font-family: 'Roboto';
}

.hello__h2--new{
  margin: 40px 0;
  font-size: 24px;
}

.hello__photo-wrp{
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.hello__photo-wrp img{
  width: 48%;
  margin-bottom: 2%;
  height: 48%;
}

.hello__text{
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #313131;
  margin: 20px 0;
  white-space: pre-wrap;
}
.hello__list{
  width: 90%;
  margin: 20px auto;
}

.hello__list li{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.hello__list li img{
  margin-right: 20px;
}

.hello__u-can{
  text-transform: uppercase;
  width: 90%;
  font-size: 15px;
  margin: 20px auto 0;
  color: #3d4146;
}

.hello__text-also{
  color: #5d6979;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
 /* margin: 0 5% 20px 10%;*/
}

.hello__text-wrp{
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

@media (min-width:900px){


  .hello__content-wrp{
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      padding-bottom: 10px;
      margin-bottom: 60px;
      height: 500px;
      position: relative;
  }

  .hello__photo-wrp{
      width: 52%;
  }

  .hello__text-wrp{
      width: 45%;
      overflow: auto;
      padding: 0px;
  }
  .hello__text-wrp::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(26, 24, 47, 0.05);
    border-radius: 10px;
    height: 200px;
}

.hello__text-wrp::-webkit-scrollbar-thumb {
    background: rgba($color: #555555, $alpha: 0.2);
    border-radius: 10px;
}
  /*.element::-webkit-scrollbar {
    width : 0 !important;
}
.element {
    -ms-overflow-style : none;
    overflow           : -moz-scrollbars-none;
}*/

  .hello__photo-wrp img{
  }

  .hello__photo-wrp{
      //height: 40%;
  }

  .hello__text-also{
  }

  .hello__h2--new{
      margin: 0px 0;
      font-size: 25px;
  }
}


.youtube{
  width: 300px;
  height: 200px;
  margin: 60px auto;
  display: block;
}
@media(min-width:700px){
  .youtube{
    width: 500px;
    height: 300px;

  }
}
@media(min-width:900px){
  .youtube{
    width: 800px;
    height: 450px;

  }
}
@media(min-width:1110px){
  .hello__photo-wrp{
    width: 47%;
  }
  .hello__text-wrp{
    width: 49%;
  }
  .hello__text-wrp--adv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.you-tube{
  width: 95%;
  max-width: 800px;
  height: 150px;
  margin: 30px auto;
  margin-bottom: 570px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.SPB__card h4{
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}
.SPB__card{
  text-align: left;
}
.SPB__card-title{
  text-align: left;
}
.you-tube__item{
  width: 100%;
  margin-bottom: 20px;
  height: auto;
}

@media (min-width: 700px){
  .you-tube{
      margin-bottom: 150px;
      margin-top: 55px;
  }
  .you-tube__item{
      width: 49%;
      height: auto;
  }
}
.SPB__card{
  width: 90%;
  margin: 40px auto;
  max-width: 450px;
  height: auto;
  display: block;
  background-color: #fff;
  text-align: center;
  //box-shadow: 0 0 10px 1px rgb(231, 231, 231);
  border-radius: 0px;
}

.SPB__img{
  width: 100%;
  height: auto;
}
.more-text{
  color: #fff;
  font-weight: 400;
  max-width: 1240px;
  text-align: center;
  line-height: 22px;
  margin: 10px auto;
}
.hello__text--adv{
  font-size: 17px;
  margin-bottom: 10px;
  white-space: pre-wrap;
  font-weight: 400;
}
.hello__text-wrp--adv{
  padding: 20px 10px;
}

.SPB__card-title{
  color: #333;
  font-weight: 400;
  font-size: 17px;
  margin: 15px 8px;

}
.SPB__card{
  text-decoration: none;
}
.SPB__card-descr{
  color: #666;
  line-height: 25px;
  width: 80%;
  margin: 20px auto;
}

@media (min-width:550px){
  .hello__h2{
    font-weight: 400;
      font-size: 29px;
      margin: 70px 0 -30px;
      color: #fff;
  }
  .hello__h2--new{
      margin: 0px 0 10px;
      font-size: 29px;
  }
  .SPB__card-wrp{
    max-width: 1240px;
      display: flex;
      flex-wrap: wrap;
      margin-left: auto;
      margin-right: auto;
  }

  .SPB__card{
      width: 45%;
  }
}

@media (min-width:950px){
  .SPB__card{
    margin-right: auto;
    margin-left: auto;
      width: 24%;
      margin: 5px auto;
  }
  .SPB__card-wrp{
    margin: 55px auto 0;
      padding: 0 10px;
  }
}

.wlp-cell-js{
  max-height: 100%;
}

.wp-cell-js-hide{
  max-height: 0px;
  transition: max-height .2s;
}

/*--------WALLPAPER----------*/


.wallpaper{
  padding: 0 0px;
  margin: 50px 0;
}

.wallpaper__cell{
  transition: max-height .2s;
  height: auto;
  position: relative;
  text-align: center;

}

.wallpaper__cell-after{
  &:after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.3);
  }
}
.wallpaper__img{
  transition: max-height .2s;
  width: 100%;
  max-height: 100%;
  height: auto;
}

.wallpaper__text{
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  letter-spacing: 0em;
  width: 100%;
  top: 50%;
  z-index: 5;
  text-align: center;
  line-height: 30px;
  font-weight: 400;
  font-size: 23px;
  color: #fff;
  transform: translate(-50%, -50%);
}
@media (min-width:460px){
  .wallpaper{
      max-width: 1240px;
      margin: 55px auto 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .wallpaper__cell{
      height: auto;
      width: 48%;
  }
}

.instagram-link{
  position: relative;
}
.instagram-link--1, .instagram-link--2, .instagram-link--3, .instagram-link--4{
  &:hover{
    .instagram-link--hover{
      opacity: 1;
    }
  }
}
.instagram-link--hover{
  position: absolute;
  color: #fff;
  bottom: 10px;
  right: 10px;
  font-size: 17px;
  font-weight: 400;
  text-align: right;
  text-transform: uppercase;
  opacity: 0;
  transition: .2s;
}
.categoria-ban-img-wrp{
  position: relative;
  display: inline-block;
  transition: .4s ease-in;
  overflow: hidden;
  width: 49%;
  &:after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.1);
  }
  img{
    width: 100% !important;
    height: auto !important;
    max-width: 100% !important;
  }
  &:hover{
    &:after{
      //opacity: 1;
    }
    .categoria-banner-text{
      opacity: 1;
    }
    img{
      transform: scale(1.05);
    }

  }
}
.categoria-banner-text{
  position: absolute;
  color: #fff;
  bottom: 25px;
  z-index: 5;
  right: 20px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 26px;
  transition: .2s;
  opacity: 0;
}
.categoria-banner{
  margin-top: 55px !important;
}

@media (min-width:720px){
  .wallpaper{
      justify-content: space-around;
  }

  .wallpaper__cell{
      height: auto;
      width: 33%;
  }
}
.price__btn{
  display: inline-block;
  width: auto !important;
  padding: 0 4px;
  margin-top: -4px !important;
  background-color: #fff !important;
  color: #313131 !important;
  margin-left: auto !important;
  font-size: 13px !important;
  margin-right: auto !important;
  border-color: #707070 !important;
}
@media (min-width:1080px){
  .wallpaper{
      justify-content: space-between;
  }

  .wallpaper__cell{
      height: auto;
      width: 25%;
      padding: 0 4px 0 0;
  }
  .price__card{
    width: 24% !important;
  }
}

.btn{
  width: 110px;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid rgb(240, 240, 240);
  background-color: white;
  cursor: pointer;
  max-width: 185px;
  height: 36px;
  transition: 0.2s;
  border: 1px solid #a68e6a;
  background-color: #f8f8f8;
  min-width: 120px;
  color: #a0784b;
  text-transform: uppercase;
}

.btn:hover{
  background-color: #a0784b;
  color: #fff;
}

.btn:active{
  color: rgb(97, 97, 97);
  border-color: rgb(97, 97, 97);
}

.more-btn{
  width: 140px;
  margin: 30px auto;
  display: block;
  margin-bottom: 60px;
}


.instagram-media{
  max-height: 100%;
  max-width: 90%;
  min-width: 10px;
  width: 80%;
}

.insta-cell{
  max-height: 270px;
  width: 24%;
}

.more-btn--a{
  display: block;
  color: #313131;
  text-decoration: none;
  line-height: 35px;
  width: 185px;
  color: #a0784b;
}

.SPB__card-wrp--black{
  div{
    margin: 6px auto;
  }
}


.gift{
  width: 100%;
  height: 600px;
  max-width: 1240px;
  margin: 0 auto;
  margin-bottom: 60px;
  background-color: rgb(133, 32, 32);
  background-image: url('../img/gift-bg.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.gift__wrp{
  width: 90%;
  margin: 0 auto;
}

.gift__descr{
  line-height: 30px;
  font-size: 25px;
  padding: 42px 0;
  width: 100%;
  text-transform: uppercase;
  color: rgba(255,255,255,.75);
}

.input-label{
  display: block;
  color: rgba(255,255,255,.75);
}

.input{
  width: 100%;
  margin-bottom: 20px;
  background-color: rgba(255,255,255,.1);
  color: rgba(255,255,255,.7);
  background-clip: padding-box;
  border: 1px solid rgba(255,255,255,.2);
  border-color: rgba(255,255,255,.2);
  height: 44px;
  padding-left: 12px;
  padding-right: 12px;
  box-shadow: none;
  outline: none;
}

.input:focus{
  border-color: rgba(255,255,255,.7);
}

.gift__button{
  display: block;
  width: 130px;
  margin: 10px auto;
  background-color: rgba(255,255,255,.1);
  color: rgba(255,255,255,.7);
  background-clip: padding-box;
  border: 1px solid rgba(255,255,255,.2);
  border-color: rgba(255,255,255,.2);
  height: 45px;
}

.gift__button:hover{
  border-color: rgba(255,255,255,.7);
}

.gift__button:active{
  color: rgba(255,255,255,.7);
}

@media (min-width: 800px){
  .gift__wrp{
      width: 35%;
      margin-left: 50%;
  }
}
.gift__body{
  padding: 10px 20px  15px 15px;
  background-image: url('../img/gift-bg.jpg');
  background-position-y: 45%;
  background-position-x: 75%;
  background-size: 300%;
  margin-bottom: 50px;
  input{
    margin-bottom: 15px;
  }
  label{
    margin-bottom: 5px;
  }
}
.examples__descr{
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}
.gift__button{
  margin: 0;
  margin-left: 50%;
  border-radius: 2px;
}
.gift__smal-p{
  color: rgba(255, 255, 255, 0.65);
  width: 120%;
}
.gift__descr{
  padding-bottom: 30px;
  padding-top: 45px;
}
.exc-descr{
  font-size: 20px;
  padding: 15px 0 0 0;
  line-height: 20px;
  text-align: center;
}

.price--vcornice{
  text-align: center;
}
*{
  font-family: 'Roboto';
}


/*--------PRICE----------*/


.price__descr{
  text-align: center;
  line-height: 25px;
  padding: 0 10px;
}


.price{
  margin: 40px 0;
}

.price__card{
  background-color: #fff;
  width: 90%;
  margin: 5px auto;
  padding-bottom: 25px;
  margin-bottom: 10px;
}

.price__img{
  width: 100%;
  height: auto;
}

.price__cost{
  display: inline-block;
  padding-left: 8px;
  font-size: 23px;
  margin: 10px 0 0;
  line-height: 30px;
}

.price__hr{
  width: 90%;
  border: none;
  margin: 15px auto;
  height: 1px;
  background-color: rgb(240, 240, 240);
}

.price__card-descr{
  width: 92%;
  margin: 0 auto;
  line-height: 19px;
  color: #666;
}



@media (min-width: 500px){
  .price{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }

  .price__card{
    padding-bottom: 15px;
    margin-bottom: 10px;

      width: 45%;
  }
}

@media (min-width: 800px){
  .price{
      padding: 0 10px;
  }
  .price__card{
    margin: 0px;

      width: 32%;
  }
}

@media (min-width: 1080px){
  .price{
      max-width: 1240px;
      margin: 0px auto;
      padding: 0 0px;
  }
  .price__card{
    margin-bottom: 10px;

      width: 25%;
  }
  .SPB__card-wrp--price{
    margin-bottom: -60px;
  }


}




/*----------GIFT---------*/


.brand{
  width: 100%;
  max-width: 1240px;
  margin: 40px auto;
}

.brand_1{
  img{
    width: 100%;
    height: auto;
  }
  p{
    padding-left: 30px;
  }

}

.brand_2{
  display: none;
  img{
    width: 100%;
    height: auto;
  }

}

.hello__h2--partners{
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  text-transform: unset;
}

.brand__text{
  text-align: center;
  color: #fff;
  margin-top: -40px;
  margin-bottom: 60px;
}


@media(min-width:900px){
  .brand{
    display: flex;
    align-items: flex-start;
  }
  .brand_1{
    padding: 40px 0;
    background-color: #fff;
    width: 73%;
  }
  .brand_2{
    display: block;
    width: 32%;
    height: 100%;

  }

  .hello__h2--partners{
    text-align: left;
    margin-left: 20px;
    margin-top: 80px;
    margin-bottom: -80px;
    color: #313131;
    z-index: 10;
    position: relative;
  }

  .brand__text{
    text-align: center;
    color: #313131;
    text-align: left;
    margin-left: 20px;
    margin-top: -80px;
    margin-bottom: 100px;
  }
}

@media(min-width:1080px){
  .hello__h2--partners, .brand__text {
    margin-left: calc(50vw -  520px);
    display: block;
    width: 480px;
  }

}
.instagram-link{
  width: 90%;
  margin: 10px auto;
  display: block;
  img{
    width: 100%;
  }
}

@media(min-width:550px){
  .instagram-link{
    width: 48%;
  }
}

@media(min-width:950px){
  .instagram-link{
    width: 24%;
  }
}
.hello__h2--black{
  color: #313131;
  text-transform: unset;
}


@media(min-width:700px){
  .more-btn-text{
    display: flex;
    align-items: center;
    max-width: 1240px;
    margin: 20px auto 10px;
    p{
      margin-right: 20px;
    }
  }
  .more-btn2{
    margin: 0;
  }
  .hello__us{
    margin-top: 60px;
  }
}

/*
#scrollbar {
  position: absolute;
  left: 46%;
  margin-top: 20px;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar {
  display: none;
}*/
.page::-webkit-scrollbar {
  width: 7px;

  background-color: rgba(255, 255, 255, 0.03);
  border-radius: 10px;
  height: 200px;
}

.page::-webkit-scrollbar-thumb {
  background: rgba($color: #ffffff, $alpha: 0.4);
  border-radius: 10px;

}

.hello__text--adv span{
  font-size: 34px;
  line-height: 17px;
}


.categoria-banner img{
  cursor: zoom-in;
}


.categoria-banner{

  max-width: 1240px;
  margin: 0 auto;
  img{
    transition: .3s;
    width: 100%;
    max-width: 49%;
  }
}

.img-100{
  max-width: 100% !important;
}
